<div class="login-container">
    <h2 class="title">Welcome</h2>
    <form class="form-control" #form="ngForm" (ngSubmit)="verify()">
        <input class="input is-primary" name="firstname" type="text" placeholder="Email" [(ngModel)]="email" required>
        <p *ngIf="!form.valid" class="help is-danger"> Email is required</p>
        <input class="input is-primary" name="lastName" type="password" placeholder="Password" [(ngModel)]="password"
            required>
        <p *ngIf="!form.valid" class="help is-danger"> Password is required</p>
        <p *ngIf="verification === false" class="help is-danger"> Email or Password is not verified</p>
        <button class="button is-primary" type="submit" [disabled]="!form.valid">
            Log In
        </button>
    </form>
</div>