<section class="hero is-link is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="" class="box" #form="ngForm" (ngSubmit)="verify()">
                        <h2 class="title has-text-dark">Welcome</h2>
                        <div class="field">
                            <label for="" class="label has-text-dark">Email</label>
                            <div class="control has-icons-left">
                                <input type="input" placeholder="e.g. email@gmail.com" class="input is-link" name="email" [(ngModel)]="email" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label has-text-dark">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" placeholder="password" class="input is-link" [(ngModel)]="password" name="password" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                        <div class="field">
                            <button class="button is-link" type="submit" [disabled]="!form.valid">
                                Login
                            </button>
                            <label class="text">Or
                                <a routerLink = "signup">Sign up</a>
                                here
                            </label>
                        </div>
                        <div></div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>