<nav class="panel">
    <p class="panel-heading">
        Active Users
    </p>
    <div class="panel-block">
        <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Search" (input)="searchUser($event)">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
    </div>
    <p class="panel-tabs" >
        <a class="is-active" (click) = "setView(0)">All</a>
        <a *ngFor="let role of roles" (click)=setView(role.id)>{{role.name}}</a>
    </p>
    <div>
        <a class="panel-block is-active" *ngFor="let user of filteredUsers">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            {{user.fullName}}
            <span 
                class="is-pulled-right is-size-7 has-text-grey ml-4"
                *ngIf="currentRole == null"
            >
                ({{user.role.name}})
            </span>
        </a>
    </div>
    <div class="panel-block">
        <button class="button is-link is-outlined is-fullwidth">
            Reset all filters
        </button>
    </div>
</nav>