<nav class="panel">
    <p class="panel-heading">
        Active Users
    </p>
    <div class="panel-block">
        <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Search">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
    </div>
    <p class="panel-tabs">
        <a class="is-active" (click) = "setView('all')">All</a>
        <a (click) = "setView('Teacher')">Teachers</a>
        <a (click) = "setView('Student')">Students</a>
    </p>
    <div>
        <a class="panel-block is-active" *ngFor="let user of users">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            {{user.firstName}}
            {{user.lastName}}
        </a>
    </div>
    <div class="panel-block">
        <button class="button is-link is-outlined is-fullwidth">
            Reset all filters
        </button>
    </div>
</nav>